<table>
  <tr>
    <th>Date</th>
    <th>Reference</th>
    <th>In</th>
    <th>Out</th>
    <th>Analysis Code</th>
  </tr>

  <% LedgerEntryDecorator.build_collection(@ledger_entries).each do |entry| %>
    <tr>
      <td><%= entry.date %></td>
      <td><%= entry.reference %></td>
      <td><%= entry.debit %></td>
      <td><%= entry.credit %></td>
      <td><%= entry.analysis_code %></td>
      <td><%= link_to 'Show', financial_transaction_path(:id => entry.financial_transaction_id) %></td>
      <td><%= link_to 'Edit', edit_financial_transaction_path(:id => entry.financial_transaction_id) %></td>
      <td><%= link_to 'Delete', financial_transaction_path(:id => entry.financial_transaction_id), :data => {confirm: 'Are you sure?'}, method: :delete %></td>
    </tr>
  <% end %>

</table>
