<p id="notice"><%= notice %></p>

<%= render 'form', :locals => {:form_readonly => true } %>

<%= render 'shared/activity', :locals => {:activity => @activity } %>

<%= link_to 'Edit', edit_ledger_account_path(@ledger_account) %> |
<%= link_to 'Back', ledger_accounts_path %>
