<%= form_for(@bank_account) do |f| %>
  <% if @bank_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>

      <ul>
        <% @bank_account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if locals[:form_readonly] %>
  <%= f.fields_for @bank_account.main_ledger_account do |ff| %>
    <% balance_on_date = ff.object.balance(@date_range_filter.balance_date)%>
    <% ff.with_options(:disabled => true) do |readonly| %>
      <div>
        <div class='field'>
          <%= readonly.text_field :name %>
          <%= ff.label :balance %>
          <%= text_field_tag(:balance, format_number(balance_on_date), :disabled => true) %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= f.fields_for @bank_account.charges_ledger_account do |ff| %>
    <% balance_on_date = ff.object.balance(@date_range_filter.balance_date)%>
    <% ff.with_options(:disabled => true) do |readonly| %>
      <div>
        <div class='field'>
          <%= readonly.text_field :name %>
          <%= ff.label :balance %>
          <%= text_field_tag(:balance, format_number(balance_on_date), :disabled => true) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
    <div class='field'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
<%end %>

  <% unless locals[:form_readonly] %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
