<h1>Bank Account</h1>
<p id="notice"><%= notice %></p>
<%= render 'form', :locals => {:form_readonly => true } %>

<%= render 'shared/date_range_filter' %>
<%= render 'shared/balance_graph', :locals => {:balance_graph_url => bank_account_bank_account_graph_path(@bank_account, @date_range_filter.to_json.merge(:format => :json)) } %>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
