<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% @transaction.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% f.with_options(:disabled => locals[:form_readonly] ) do |form| %>
    <div class='field'>
      <%= form.label :reference %>
      <%= form.text_field :reference %>
    </div>
    <div class='field'>
      <%= form.label :date %>
      <%= form.date_field :date%>
    </div>
    <div class='field'>
      <%= form.label :approximation %>
      <%= form.check_box :approximation %>
    </div>

    <table>
      <thead>
        <tr>
          <th><%= form.label :ledger_account %></th>
          <th><%= form.label :debit %></th>
          <th><%= form.label :credit %></th>
          <th><%= form.label :analysis_code %></th>
        </tr>
      </thead>
      <tbody>
        <%= form.fields_for :ledger_entries do |ff_form| %>

          <% ledger_account_choices =  current_user.ledger_accounts.all.collect {|p| [ p.name, p.id ] } 
          analysis_code_choices = current_user.analysis_codes.all.collect {|p| [ p.name, p.id ] }%>

          <% ff_form.with_options(:disabled => locals[:form_readonly] ) do |entry| %>
            <tr class="ledger_entry">
              <td>  <%= entry.select :ledger_account_id , ledger_account_choices , {},{:disabled => locals[:form_readonly]}%></td>
              <td><%= entry.text_field :debit %>
              </td>
              <td><%= entry.text_field :credit %>
              </td>
              <td><%= entry.select :analysis_code_id ,analysis_code_choices  , {},{:disabled => locals[:form_readonly]}%></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  <% end %>
  <% unless locals[:form_readonly] %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<%end%>
